.data_list .dataHeader {
    border-bottom: 1px solid #E5E5E5;
    padding: 3px 10px 3px;
    font-weight: bold;
}

.data_list .dataHeader .more {
    float: right;
    text-decoration: none;
}

.data_list .datas {
    padding: 5px;
}

.data_list .datas a {
    font-size: 13px;
}

.data_list .datas ul {
    list-style-type: square;
}

.data_list .datas ul li {
    margin-top: 3px;
}

.hotspot_news_list {
    height: 228px;
}
.data_list {
    border: 1px solid #E5E5E5;
    padding: 0px;
}