.newsHeader_list {
    border: 1px solid #E5E5E5;
    padding: 0px 0px 0px 0px;
    height: 228px;
    margin-left: 360px;
    margin-top: -228px;
}

.newsHeader_list .newsHeader {
    height: 80px;
    text-align: center;
    padding: 0px;
}

.newsHeader_list .newsHeader h3 {
    margin: 5px auto 5px auto;
}

.newsHeader_list .newsHeader h3 a {
    font-size: 25px;
}

.newsHeader_list .newsHeader p {
    padding: 0px 5px 0px 5px;
}

.newsHeader_list .currentUpdate {
    height: 140px;
    margin: 15px 0px 5px 0px;
}

.currentUpdate .currentUpdateHeader {
    margin: 0px;
    padding: 3px 10px 3px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    font-weight: bold;
}

.currentUpdate .currentUpdateDatas {
    margin: 10px;
}

.currentUpdate .currentUpdateDatas a {
    font-size: 13px;
}